<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<h1>Add song</h1>
<div>
 <form th:object="${song}" th:action="@{save}" action="#" method="post">
 
 <label for="Title">Song title</label>
 <input type="text" id="songTitle" th:field="*{songTitle}" />
 
 
 <label for="Artist">Artist</label>
 <input type="text" id="artistName" th:field="*{artistName}" />
 
 
 <label for="Year">Year</label>
 <input type="text" th:field="*{releaseYear}" />
 
 
 <label for="genres">Genre</label>
<select id="genres" th:field="*{genre}" class="form-control" style="width:10%;">
<option th:each="genre: ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option></select>

 <input type="submit" value="Save"></input>
 </form>
</div>
</html>