<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Song list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Genres</h1>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
		</tr>

		<tr th:each="genre : ${genres}">
			<td th:text="${genre.name}">Name</td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/genrelist/delete/{genreId}(genreId=${genre.genreId})}" class="btn btn-xs btn-danger">Delete</a></td>
			<td sec:authorize="hasAnyAuthority('USER', 'ADMIN')"><a th:href="@{/genrelist/edit/{genreId}(genreId=${genre.genreId})}" class="btn btn-xs btn-danger">Edit</a>
			
		</tr>
	</table>
	
	<a href="/genrelist/add" class="btn btn-success">Add Genre</a>
	<a href="/songlist" class="btn btn-primary">Show Songs</a>
</body>
</html>