<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Song List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet"
	th:href="@{/songlist}" />
</head>
<body>
	<div th:if="${param.error}">Invalid username and password.</div>
	<form th:action="@{/login}" method="post">
		<div>
			<label> User Name : <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="password" /></label>
		</div>
		<div>
			<input type="submit" class="btn btn-success" value="Sign In" />
		</div>
		<div>
			<a href="/signup">Sign up</a>
		</div>
		<div style="max-width:600px">
		<p>Welcome to the login page of my Music Database. You can either sign up, or use "admin" as both the username and password to gain admin rights. There is a possibility to log in using "user" as both the username and password or you can choose to sign up instead.</p>
		</div>
	</form>
</body>
</html>