<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Songlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Songs</h1>
	</div>
	</div>
		
	
    <table class="table table-striped">
		<tr>
		    <th>Song name</th>
		    <th>Artist</th>
		    <th>Year</th>
		    <th>Genre</th>
		</tr>  
    	<tr th:each = "song : ${songs}">
    		<td th:text="${song.songTitle}"></td>
    		<td th:text="${song.artistName}"></td>
    		<td th:text="${song.releaseYear}"></td>
    		<td th:text="${song.genre != null ? song.genre.name : ''}"></td> 		
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${song.id})}" class="btn btn-xs btn-danger">Delete</a></td>   
			<td sec:authorize="hasAnyAuthority('USER', 'ADMIN')"><a th:href="@{/edit/{id}(id=${song.id})}" class="btn btn-xs btn-danger">Edit</a>
</td>
 			 		
    	</tr>
     </table>
		<a href="/addsong" class="btn btn-success">Add Song</a>
		<a href="/genrelist" class="btn btn-primary">Show Genres</a> 
	
	<div class="col-md-4" style="padding:20px 0">
	<div class="btn-group">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Logout" data-target="#myModal" />
		</form>
	</div>
</div>

    	
</body>
</html>