<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Songlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Songs</h1>
	</div>
	<div class="col-md-4">
		Welcome <b sec:authentication="name"></b>, 
        your role is <b sec:authentication="principal.authorities"></b>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr>
		    <th>Song name</th>
		    <th>Artist</th>
		    <th>Release year</th>
		    <th>Genre</th>
		</tr>  
    	<tr th:each = "song : ${songs}">
    		<td th:text="${song.songTitle}"></td>
    		<td th:text="${song.artistName}"></td>
    		<td th:text="${song.genre.name}"></td> 		
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${song.id})}" class="btn btn-xs btn-danger">Delete</a></td>    		
    	</tr>
     </table>
	 <a href="/addsong" class="btn btn-primary">Add Song</a> 
</div>	    	
</body>
</html>